conda 
conda-package-handling 
conda_package_streaming 
Cython==3.0.5
distlib==0.3.7
dm-tree==0.1.8
docker==6.1.3
docstring-parser==0.15
gcsfs==2023.10.0
google-api-core==1.34.0
google-api-python-client==1.8.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-aiplatform==1.36.0
google-cloud-artifact-registry==1.9.0
google-cloud-bigquery==3.13.0
google-cloud-bigquery-storage==2.22.0
google-cloud-core==2.3.3
google-cloud-datastore==1.15.5
google-cloud-language==2.11.1
google-cloud-monitoring==2.16.0
google-cloud-resource-manager==1.10.4
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
gpustat==1.0.0
greenlet==3.0.1
grpc-google-iam-v1==0.12.6
grpcio==1.59.2
grpcio-status==1.48.2
gymnasium==0.28.1
ipykernel
ipython 
ipython-genutils==0.2.0
ipython-sql==0.5.0
Jinja2 
json5 
jupyter-events 
jupyter-http-over-ws==0.0.8
jupyter-lsp 
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core 
jupyter_server 
jupyter_server_fileid==0.9.0
jupyter_server_proxy==4.1.0
jupyter_server_terminals 
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.6
jupyterlab-pygments 
jupyterlab-widgets==3.0.9
jupyterlab_git==0.44.0
jupyterlab_server 
jupytext==1.15.2
lxml==4.9.3
Markdown==3.5.1
matplotlib==3.7.3
matplotlib-inline 
numpy==1.25.2
nvidia-ml-py==11.495.46
oauth2client==4.1.3
oauthlib==3.2.2
opencv-python==4.8.1.78
pandas==2.0.3
pandas-profiling==3.6.6
Pillow==9.5.0
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.12.2
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
torch==2.0.0+cu118
torch-xla 
torchvision==0.15.1+cu118
tornado
tqdm 
ultralytics==8.0.20
urllib3==1.26.18
visions==0.7.5

